:root{
    --red: #E50914;
    --bg-color: #141414;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--bg-color);
    font-family: 'Open Sans', sans-serif;

}

.container{
    width: 90%;
    margin: auto;

}

header{
    padding: 30px 0px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: var(--red);
    font-size: 40px;
}

header nav a{
    color: #AAA;
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover,
header nav a.active{
    color: #FFF;
}

/*========================Main movie========================================*/

.main-movie{
    font-size: 16px;
    min-height: 40.62em;
    color: #FFF;
    background: linear-gradient(rgba(10,10,10,50%) 0%, rgba(50,50,50,50%) 100%), url('/img/shrekbackdrop.jpg');
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: flex-end;
}

.main-movie .container{
    margin: 0 auto;
    margin-bottom: 6.25em;
}

.main-movie .title{
    font-weight: 600; 
    font-size: 3.12em;
    margin-bottom: 0.4em;
}

.main-movie .description{
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.12em;
    background: rgba(50, 50, 50, .6);
    padding: .5em;
    border-radius: 1em;
} 

.main-movie button{
    background: rgba(0,0,0,0.5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #FFF;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
}

.main-movie button:hover{
    background: #FFFFFFBB;
    color: #000;
}

.main-movie button i{
    margin-right: 1.25em;
}

/* ---- ----- ----- Container, title & Controls ----- ----- ----- */
.container-title-controls {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.container-title-controls h3 {
	color: #fff;
	font-size: 30px;
}

.container-title-controls .indicators button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.container-title-controls .indicators button:hover,
.container-title-controls .indicators button.active {
	background: red;
}


/* ---- ----- ----- Main Container and arrows control ----- ----- ----- */
.recommended-movies {
	margin-bottom: 70px;
}

.recommended-movies .main-container {
	display: flex;
	align-items: center;
	position: relative;
}

.recommended-movies .main-container .left-arrow,
.recommended-movies .main-container .right-arrow {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
    z-index: 1;
    outline: none;
	transition: .2s ease all;
}

.recommended-movies .main-container .left-arrow:hover,
.recommended-movies .main-container .right-arrow:hover {
	background: rgba(0,0,0, .9);
}

.recommended-movies .main-container .left-arrow {
	left: 0;
}

.recommended-movies .main-container .right-arrow {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.recommended-movies .carousel-container {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.recommended-movies .carousel-container .carousel {
	display: flex;
	flex-wrap: nowrap;
}

.recommended-movies .carousel-container .carousel .movie {
    min-width: 20%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0,0,0, .3);
    outline:rgba(255, 255, 255, .5) solid 1px;
}

.recommended-movies .carousel-container .carousel .movie.hover {
    filter: brightness(1.1);
    transform: scale(1.05);
}

.recommended-movies .carousel-container .carousel .movie img {
	width: 100%;
	vertical-align: top;
}

/*=====================Media queries=======================*/
@media screen and (max-width:800px){
    header .logo{
        margin-bottom: 10px;
        font-size: 30px;
    }

    header .container{
        flex-direction: column;
        text-align: center;
    }

    .main-movie{
        font-size: 14px;
    }

    .main-movie .description{
        max-width: 100%;
    }

	.recommended-movies .carousel-container {
		overflow: visible;
	}

	.recommended-movies .carousel-container .carousel {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.recommended-movies .indicators,
	.recommended-movies .left-arrow,
	.recommended-movies .right-arrow {
		display: none;
	}
}