:root{
    --red: #E50914;
    --bg-color: #141414;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--bg-color);
    font-family: 'Open Sans', sans-serif;

}

.container{
    width: 90%;
    margin: auto;

}

header{
    padding: 30px 0px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: var(--red);
    font-size: 40px;
}

header nav a{
    color: #AAA;
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover,
header nav a.active{
    color: #FFF;
}

/*========================Main movie========================================*/

.main-movie{
    font-size: 16px;
    min-height: 40.62em;
    color: #FFF;
    background: linear-gradient(rgba(10,10,10,50%) 0%, rgba(50,50,50,50%) 100%), url('/img/shrekbackdrop.jpg');
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: flex-end;
}

.main-movie .container{
    margin: 0 auto;
    margin-bottom: 6.25em;
}

.main-movie .title{
    font-weight: 600; 
    font-size: 3.12em;
    margin-bottom: 0.4em;
}

.main-movie .description{
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.12em;
    background: rgba(50, 50, 50, .6);
    padding-left: .5em;
    border-radius: 1em;
} 

.main-movie button{
    background: rgba(0,0,0,0.5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #FFF;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
}

.main-movie button:hover{
    background: #FFFFFFBB;
    color: #000;
}

.main-movie button i{
    margin-right: 1.25em;
}

/*=====================Media queries=======================*/
@media screen and (max-width:800px){
    header .logo{
        margin-bottom: 10px;
        font-size: 30px;
    }

    header .container{
        flex-direction: column;
        text-align: center;
    }

    .main-movie{
        font-size: 14px;
    }

    .main-movie .description{
        max-width: 100%;
    }
}